<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>[{{vid}}]: New payment registration</title>
</head>
<body>
Hello {{userName}}
<br>
<br>
The administration has just registered a new payment for the trip  {{vid}} .
<br>
<br>
Details registration payment:
<br>
description : {{descrizione}}
<br>
amount : {{importo}}
<br>
Total trip : {{total}}
<br>
</body>
</html>