{% block aside_content %}
    <ul class="main-menu">
        <li>
            <a class="{% if app.request.attributes.get('_route') == 'etgest_dashboard' %}active{% endif %}" href="{{ path('etgest_dashboard') }}">
                {% trans %}Home{% endtrans %}
            </a>
        </li>        
        <li>
            <a class="{% if app.request.attributes.get('_route') == 'etgest_client_list' %}active{% endif %}" href="{{ path('etgest_client_list') }}">
                {% trans %}Client List{% endtrans %}
            </a>
        </li>
        <li>
            <a class="{% if app.request.attributes.get('_route') == 'etgest_client_tasks' %}active{% endif %}" href="{{ path('etgest_client_tasks') }}">
                {% trans %}Performing tasks{% endtrans %}
            </a>
        </li>
        <li>
            <a class="{% if app.request.attributes.get('_route') == 'etgest_client_search' %}active{% endif %}" href="{{ path('etgest_client_search') }}">
                {% trans %}Client Search{% endtrans %}
            </a>
        </li>
        <li>
            <a class="{% if app.request.attributes.get('_route') == 'etgest_ticket_search' %}active{% endif %}" href="{{ path('etgest_ticket_search') }}">
                {% trans %}Ticket Search{% endtrans %}
            </a>
        </li>
        <li>
            <a class="{% if app.request.attributes.get('_route') == 'etgest_direct_contact' %}active{% endif %}" href="{{ path('etgest_direct_contact') }}">
                {% trans %}Direct Contact{% endtrans %}
            </a>
        </li>
        <li>
            <a class="{% if app.request.attributes.get('_route') == 'etgest_commissions' %}active{% endif %}" href="{{ path('etgest_commissions') }}">
                {% trans %}Commissions{% endtrans %}
            </a>
        </li>
        <li><a href="#">Viaggi Aperti</a></li>
        <li><a href="#">Viaggi Accessi</a></li>
        <li>
            <a class="{% if app.request.attributes.get('_route') == 'etgest_incentive_ita' %}active{% endif %}" href="{{ path('etgest_incentive_ita') }}">
                {% trans %}Modulo incentive ITA{% endtrans %}
            </a>
        </li>
        <li>
            <a class="{% if app.request.attributes.get('_route') == 'etgest_incentive_malta' %}active{% endif %}" href="{{ path('etgest_incentive_malta') }}">
                {% trans %}Modulo incentive Malta{% endtrans %}
            </a>
        </li>
        <li>
            <a class="{% if app.request.attributes.get('_route') == 'etgest_booking_management' %}active{% endif %}" href="{{ path('etgest_booking_management') }}">
                {% trans %}Booking management{% endtrans %}                
            </a>
        </li>
        <li>
            <a class="{% if app.request.attributes.get('_route') == 'etgest_manage_customer_receipts' %}active{% endif %}" href="{{ path('etgest_manage_customer_receipts') }}">
                {% trans %}Gestione Incassi Clienti{% endtrans %}
            </a>
        </li>
        <li><a class="{% if app.request.attributes.get('_route') == 'etgest_account_extract' %}active{% endif %}" href="{{ path('etgest_account_extract') }}">Gestione Estratti conto</a></li>
        <li><a href="#">Conferma importazione pratica AVES</a></li>
        <li><a href="#">Conferma importazione pratica SIAP</a></li>
        <li><a href="#">Gestione Promotori</a></li>
    </ul>
{% endblock %} 