<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}...: ETGEST :...{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
            <link rel="stylesheet" href="{{ asset('vendor/fontawesome/css/font-awesome.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/slicknav.min.css') }}">
        {% endblock %}
        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container-fluid">
            <header class="row">
                <div class="col-sm-4 header">
                    <img class="logo-icon" src="{{ asset('images/logoNetwork.gif') }}">                
                </div>
            </header>

            <div class="main-content-wrapper row">
                <aside class="col-sm-4">
                    {% block aside_content %}
                        {{ include('aside.html.twig') }}
                    {% endblock %}  
                </aside>
                <section class="main-content col-sm-8">
                    {% block main_content %}{% endblock %}    
                </section>            
            </div>
    </div>
        <footer>
            <!-- Footer goes here -->
        </footer>

        {% block javascripts %}
            <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
            <script src="{{ asset('js/main.js') }}"></script>
            <script src="{{ asset('js/jquery.slicknav.min.js') }}"></script>            
        {% endblock %}
    </body>
</html>
