{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('vendor/jquery-ui/jquery-ui.min.css') }}">          
    <link rel="stylesheet" href="{{ asset('vendor/datetimepicker/bootstrap-datetimepicker.css') }}">           
{% endblock %}
        
{% block main_content %}    
    <div class="content">
        <h2 class="content-main-title">{% trans %}MODULO INCENTIVE ITA{% endtrans %}</h2>
        <br/>
        	
             
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}    
    <script src="{{ asset('vendor/jquery-ui/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('vendor/datetimepicker/moment-with-locales.js') }}"></script>
    <script src="{{ asset('vendor/datetimepicker/bootstrap-datetimepicker.js') }}"></script>        
    <script>
        $(function () {            
            
        });
    </script>
{% endblock %}